@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;500;700;900&family=Quicksand:wght@400;500;700&display=swap");

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Custom Properties */

  /* Primary */
  --color-dark-green: #006400;
  --color-white: #ffffff;

  /* Gradient Colors */
  --color-gradient-2: #00ff00;
  --color-gradient-1: #7fff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Quicksand", sans-serif;
}

body {
  box-sizing: border-box;
}

.heading {
  font-family: "Catamaran", sans-serif;
}
